RewriteEngine On

# If you put project inside htdocs/php-duhoc/public
RewriteBase /php-duhoc/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
