RewriteEngine On

# Nếu chạy ngay tại public_html (domain.com/)
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

AddDefaultCharset UTF-8
AddCharset UTF-8 .php .html .htm .css .js
